.uke{
background-color: red;
width: 304px;
height: 50px;
cursor: pointer;
text-align: center;
line-height: 50px;
font-size: 30px;
}

.tekst{
    background-color: white;
    border: solid black 2px;
    width: 300px;
}
