
.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    user-select: none;
    
}

.hideBoard{
    display: none;
}

.whitePiece {
    color: white;
    text-shadow: 1px 1px gray;
    cursor: pointer;
}

.blackPiece {
    color: black;
    cursor: pointer;
}

.lightSquare,
.darkSquare {
    font-size: 450%;
    text-align: center;
    vertical-align: middle;
}

.lightSquare {
    background-color: rgb(229, 219, 191);

}

.darkSquare {
    background-color: rgb(5, 137, 43);
 
}
.dashedLine{
    border: 3px dashed orange;
    
}

.promotePiece{
    font-size: 100px;
    user-select: none;

}

.promotePiece span{
    cursor: pointer;
}

.gridContainer1{
    display: grid;
    grid-template-columns: repeat(4, 230px);
}

.lastMove{
    background-color: aquamarine;
    border: grey solid 1px;
}

.availableMoves{
    background-color: aqua;
    border: 1px solid grey;
    cursor: pointer;

}
.gridContainer2{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
}

#settingsIcon{
    width: 50px;
    cursor: pointer;
}

.settings{
    width: 800px;
    height: 800px;
    background-color: white;
    border: solid grey 2px;
}

.checkbox{
    width: 40px;
    height: 40px;
}

.checked{
    background-color: pink;
}
.settingText{
    font-size: 45px;
}

.engines{
    width: 150px;
    height: 40px;
}